[Desktop Entry]
Type=Application
Name=Librer
GenericName=Librer
Comment=Librer
Exec=librer
Icon=io.github.pjdude.Librer
Categories=Utility;
Terminal=false
StartupNotify=true
Keywords=catalog;
